body
{
	font-family: Arial;
	margin: 0;
}
*
{
	box-sizing: border-box;
}
							/* The Background Image */

.bg-img
{

	background-image: url("../Images/ji-seongkwang-htMMBc71Hjc-unsplash.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
	position: fixed;
	margin: 0;
}
img
{
	vertical-align: middle;
}
h1   
{
	font-family: Lucida Sans;
	font-size: 25px;
	color: #d8ebf0;
	margin: 0px;
}
.text
{
	font-size: 12px;
	color: white;
	padding: 4px 6px;
	width: 100%;
	text-align: center;
	bottom: 8px;
	font-family: Lucida Sans;
	background-color: #00000099;
	border-radius: 2px;
}
.text-page
{
	font-size: 18px;
	color: Black;
	position: relative;
	padding: 4px 6px;
	text-align: center;
	font-family: Lucida Sans;
	width: 620px;
}
.text-bg-img
{
	font-size: 18px;
	color: black;
	position: relative;
	width: 100%;
	text-align: center;
	font-family: Lucida Sans;
}

/* On smaller screen, decrease text size */ 
@media only screen and (max-width: 300px)
{
	.text{font-size: 11px}
}
										/* Button group */
.btn-groupHolder 
{
	width: 200px;
	height: 400px;
	top: 20%;
	left: 0px;
	position: absolute;
}
										/* Buttons */ 									

.button3 
{
	padding: 0px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 150px;
	height: 40px;
	position: relative;
	background-image: url("../Images/307582.jpg");
	background-size: cover;
	color: black;
	border: 1px solid #000000;
	border-radius: 4px;
	margin: 0;
	transition-duration: 0.4s;
}
.button3:hover
{
	color: white;
	border: 1px solid white;
	background-image: url("../Images/307582.jpg");
	background-position: center;
}
.button4 
{
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 150px;
	height: 50px;
	position: relative;
	background-image: url("../Images/307582.jpg");
	background-size: cover;
	color: black;
	border: 2px solid #000000;
	border-radius: 4px;
	margin: 4px;
	transition-duration: 0.4s;
}
#button4
{
	float: right;
}
.button4:hover
{
	color: white;
	border: 2px solid white;
	background-position: center;
	background-image: url("../Images/307582.jpg");
}						
.container
{
	position: absolute;
	right: 0;
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: white;
	opacity: 0.5;
}
.container:hover
{
	opacity: 1;
}
								/* Full-width input fields */
input[type = text], input[type = password]
{
	width: 100%;
	padding: 15px;
	margin: 8px 0; 
	border: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 10px;
} 
input[type = email]
{
	width: 100%;
	padding: 15px;
	margin: 8px 0;
	border: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 10px;
}
input[type = comment]
{
	width: 100%;
	padding: 15px;
	margin: 8px;
	border: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
	word-break: break-all;
	border-radius: 10px;
}
							/* Extra styles for the cancel button */
.cancelbtn
{
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.imgcontainer
{
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}
img.avatar
{
	width: 50%;
	border-radius: 60%;
}
.modal-container
{
	padding: 16px;
}
span.psw
{
	float: right;
	padding-top: 16px;
}
								/* The Modal (background) */
.modal 
{
	display: none; 							/* Hidden by default */
	position: fixed; 						/* Stay in place */
	z-index: 2; 							/* Sit on top */
	left: 0;
	top: 0;
	width: 100%; 							/* Full width */
	height: 100%; 							/* Full height */
	overflow: auto; 						/* Enable scroll if needed */
	background-color: rgb(0,0,0); 			/* Fallback color */
	background-color: rgba(0,0,0,0.4); 		/* Black w/ opacity */
	padding-top: 60px;
}
								/* Modal Content/box */
.modal-content
{
	background-color: rgb(245, 245, 245);
	margin: 5% auto 15% auto;	/* 5% from the top, 15% from the bottom and centered */
    width: 600px;
    height: 700px;
	position: absolute;
	top: 2%;
	z-index: 2;
	left: 50%;
    transform: translate(-50%, 0%); 
	border-radius: 10px;
	opacity: 0.7;
	text-align: center;
}
.modal-content:hover
{
	opacity: 0.85;
}
/* The close button (x) */ 
.close
{
	position: absolute;
	right: 25px;
	top: 0;
	color: #fcfcfc;
	font-size: 25px;
	font-weight: bold;
}
.close:hover,
.close:focus
{
	color: red;
	cursor: pointer;
}
/* Add zoom animation */
.animate
{
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
@-webkit-keyframes animezoom
{
	from {-webkit-transform: scale(0)}
	to{-webkit-transform: scale(1)}
}
@keyframes animezoom
{
	from {transform: scale(0)}
	to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px)
{
	span.psw
	{
		display: block;
		float: none;
	}
	.cancelbtn
	{
		width: 100%;
	}
}
.splash
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #070707;
	height: 100%;
	z-index: 200;
	color: white;
	text-align: center;
	line-height: 90vh;
	font-size: 18px;
}
.splash.display-none
{
	position: fixed;
	opacity : 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: -10; 	/* Makes it fall behind everything else */
	color: white;
	text-align: center;
	transition: all 0.5s;
	
}
@keyframes fadeIn
{
	to
	{
		opacity: 1;
	}
}
.fade-in
{
	opacity: 0;
	z-index: -11;
	animation: fadeIn 1s ease-in forwards;
}
.error
{
	color: #FF0000;
}

.prefectures
{
	display: block;
	position: absolute;
	width: 90%;
	height: 48%;
	opacity: 0.9;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	top: 0%;
	left: 2%;
	filter: blur(0px);
	z-index: 1;
	border: 2px solid black;  
	border-radius: 5px;
}
.prefecture-Hokkaido
{
	display: block;
	position: absolute;
    width: 30%;
    height: 26%;
	opacity: 1;
	background-image: url("../Images/Hokkaido.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top: 60px;
	left: 25px;
	text-align: center;
	font-size: 50px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;

}
.prefecture-Hokkaido:hover
{
	border: 1px solid white;
}

.prefecture-Tohoku
{
	display: block;
	position: absolute;
    width: 30%;
    height: 26%;
	opacity: 1;
	background-image: url("../Images/Tohoku.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top: 60px;
	left: 380px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;	
}
.prefecture-Tohoku:hover
{
	border: 1px solid white;
}
.prefecture-Kanto
{
	display: block;
	position: absolute;
    width: 30%;
    height: 26%;
	opacity: 1;
	background-image: url("../Images/Kanto.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top: 60px;
	left: 735px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;
}
.prefecture-Kanto:hover
{
	border: 1px solid white;
}
.prefecture-Chubu
{
	display: block;
	position: absolute;
    width: 30%;
    height: 26%;
	opacity: 1;
	background-image: url("../Images/Chubu.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top: 270px;
	left: 25px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;
}
.prefecture-Chubu:hover
{
	border: 1px solid white;
}
.prefecture-Kansai
{
	display: block;
	position: absolute;
    width: 30%;
    height: 26%;
	opacity: 1;
	background-image: url("../Images/Kansai.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top: 270px;
	left: 380px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;
}
.prefecture-Kansai:hover
{
	border: 1px solid white;
}
.prefecture-Chugoku
{
	display: block;
	position: absolute;
    width: 30%;
    height: 26%;
	opacity: 1;
	background-image: url("../Images/Chugoku.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top: 270px;
	left: 735px;
	border-radius: 5px;
	cursor: pointer;	
	border: 1px solid black;
}
.prefecture-Chugoku:hover
{
	border: 1px solid white;
}
.prefecture-Shikoku
{
	display: block;
	position: absolute;
    width: 30%;
    height: 26%;
	opacity: 1;
	background-image: url("../Images/Shikoku.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top: 460px;
	left: 25px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;
}
.prefecture-Shikoku:hover
{
	border: 1px solid white;
}
.prefecture-Kyushu-Okinawa
{
	display: block;
	position: absolute;
    width: 30%;
    height: 26%;
	opacity: 1;
	background-image: url("../Images/Kyushu-Okinawa.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top: 460px;
	left: 380px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;
}
.prefecture-Kyushu-Okinawa:hover
{
	border: 1px solid white;
}
.modal-prefecture 
{
	display: none; 							/* Hidden by default */
	position: fixed; 						/* Stay in place */
	z-index: 1; 							/* Sit on top */
	left: 0;
	top: 0;
	width: 100%; 							/* Full width */
	height: 100%; 							/* Full height */
	overflow: auto; 						/* Enable scroll if needed */
	background-color: rgb(0,0,0); 			/* Fallback color */
	background-color: rgba(0,0,0,0.4); 		/* Black w/ opacity */
	padding-top: 60px;
}
.modal-content-prefecture
{
	background-color: #05202a;
	margin: 5% auto 15% auto;	/* 5% from the top, 15% from the bottom and centered */
	border: 2px solid #888;
	border-radius: 15px;
	width: 600px;
	height: 720px;;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0.9;
	overflow: auto;
}
.img-container-prefecture
{
	width: 100%;
	position: relative;
	padding: 8px 30px;
}

.text-prefecture
{
	font-size: 15px;
	color: white;
	position: relative;
	padding: 4px 30px;
	text-align: center;
	font-family: Calibri;
}

/* Navigation Bar */
.overlay 
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.8);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content 
{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a 
{
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus 
{
	color: #f1f1f1;
}

.overlay .closebtn 
{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) 
{
.overlay a {font-size: 20px}
.overlay .closebtn 
	{
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
.navi 
{
	font-size:30px;
	cursor:pointer;
	margin: 7px;
}

.container-main
{
    position: absolute;
    height: 1400px;
    width: 1200px;
    left: 52%;
    transform: translate(-49%, 0);
    top: 8%;
    border-radius: 5px;
	display: block;
}

.container-ST
{
	position: absolute;
	bottom: 25%;
	width: 90%;
    height: 20%;
    border-radius: 5px;
	background-color: rgba(0,0,0,0.4);
    border: 2px solid black; 
	left: 2%;
}
.creator
{
	position: absolute;
	bottom: 3%;
    width: 90%;
    height: 20%;
    border-radius: 5px;
	background-color: rgba(0,0,0,0.4);
    border: 2px solid black; 
	left: 2%;
}
.middle 
{
	transition: 1s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: Calibri;
	font-size: 15px;
	background-color: aliceblue;
}
.special
{
    position: absolute;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
	border-radius: 5px;
	border: 1px solid black;
}
.special:hover .middle
{
	opacity: 1;
	border: 1px solid white;
}
.w3schools
{
    background-image: url("../Images/w3schools.jpg");
	left: 20px;
	top: 80px;
}
.ricky
{
    background-image: url("../Images/ricky.jpg");
	left: 460px;
	top: 80px;
}
.keenan
{
    background-image: url("../Images/Keenan.png");
	left: 240px;
	top: 80px;
}
.wallpaper-abyss
{
    background-image: url("../Images/wallpaper_abyss.jpg");
	left: 680px;
	top: 80px;
}
.xampp
{
	background-image: url("../Images/XAMPP.jpg");
	left: 900px;
	top: 80px;
}
.watashi
{
	background-image: url("../Images/creator.jpg");
	left: 60px;
	top: 60px;
}

.styling-line
{
	display: block;
	background-color:rgb(230, 230, 230);
	border-radius: 5px;
	height: 2px;
	width: 400px;
	left: 50px;
	position: absolute;
}
/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #5c5c5e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: whitesmoke;
}

hr
{
	width: 50%;
}