body
{
    height: 100%;
    font-family: Arial;
    margin: 0;

}

*
{
    box-sizing :border-box;
}

.background-img
{
    background-image: url("../Images/hiroyoshi-urushima-vfRkE_9wuPo-unsplash.jpg");
    min-width: 480px;
    min-height: 640px;
    height: 977px;
    width: 1880px;
    
    /* Image Scaling */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    position: fixed;
}

.container-projects
{
    position: absolute;
    background-color: black;
    top: 5%;
    width: 60%;
    height: 90%;
    background-color: rgb(0,0,0);
	background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;  
    border: 2px solid black;
    left: 50%;
    transform: translate(-50%, 0);  
    overflow: auto;
}
.interests
{
    width: 80%;
    height: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transition: 0.5s;
    border: 1px solid black;
    cursor: pointer;
}
.interests:hover
{
    border: 1px solid white;
    background-position: right;
}
.kanagawa-park
{
    background-image: url("../Images/Interests/kanagawa-park.jpg");
    top: 5%;
}
.osaka-castle
{
    background-image: url("../Images/Interests/osaka-castle.jpg");
    top: 22%;
}
.Shirakawa-go-Village
{
    background-image: url("../Images/Interests/Shirakawa-Village.jpg");
    top: 39%;
}
.sapporo
{
    background-image: url("../Images/Interests/sapporo.jpg");
    top: 56%;
}
.tokyo
{
    background-image: url("../Images/Interests/tokyo.jpg");
    top: 73%;
}   
.Sengen-Shrine
{
    background-image: url("../Images/Interests/Sengen-Shrine.jpg");
    top: 90%;
}

.text-container
{
    display: none;
    position: relative;
    background-color: black;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    left: 550px;
    opacity: 0.8;

    /* Text */
    font-size: 15px;
    color: white;
    font-family: Arial;
    padding: 20px 40px;

}

.text
{
    position: realtive;
    background-color:black;
    color: white;
    padding: 5px;
    text-align: Center;
    font-family: Lucida Sans;
    font-size: 16px;
    border-radius: 5px;
}

.splash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 90vh;
}
.splash.display-none
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 1880px;
    height: 977px;
    background: black;
    z-index: -10; 
    color: white;
    text-align: center;
    font-size: 18px;
    transition: all 0.5s;
}
@keyframes fadeIn
{
    to
    {
        opacity: 1;
    }
}
.fadeIn
{
    opacity: 0;
    z-index: -11;
    animation: fadeIn 1s ease-in forwards;
}
/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #5c5c5e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: whitesmoke;
}