body
{
	font-family: Arial;
	margin: 0px;
	overflow: hidden;
}

*
{
	box-sizing: border-box;
}

.img
{
	vertical-align: middle;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}
.text
{
	font-size: 18px;
	color: black;
	position: absolute;
	padding: 8px 12px;
	width: 100%;
	text-align: center;
	bottom: 8px;
}

.container-text 
{
    font-size: 21px;
    font-family: Calibri;
    text-align: center;
    display: none;
    -webkit-animation-duration: 3s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown 
{
	0% 
	{
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	100% 
	{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes fadeInDown 
{
	0% 
	{
		opacity: 0;
		transform: translateY(-20px);
	}
	100% 
	{
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown 
{
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.mySlides
{
	display: none;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;

}

/* Slideshow container */
.slideshow-container
{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0px;
	overflow: hidden;
}

.text-slideshow-container
{
	font-size: 18px;
	color: white;
	position: absolute;
	padding: 8px 12px;
	width: 100%;
	text-align: center;
	bottom: 15px;
	margin: 0;
}

.text-page
{
	font-size: 18px;
	color: black;
	position: relative;
	padding: 8px 12px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext
{
	color: white;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


.active
{
	background-color: #717171;
}

/* Fading animation */ 
.fade
{
	-webkit-animation-name:fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
	from {opacity: 0.4}
	to {opacity: 1}
}
@keyframes fade
{
	from {opacity : 0.4}
	to {opacity: 1}
}
/* Next & previous buttons */
.prev, .next 
{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next
{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
	background-color: rgba(0, 0, 0, 0.8);
}

/* Flip box */
.flip-box 
{
	background-color: transparent;
	width: 500px;
	height: 250px;
	perspective: 1000px;
	border-radius: 10px;
	position: absolute;
	top: 1%;
	left: 1%;
	font-size: 18px;
	font-family: Calibri;
	opacity: 0.9;
}
.flip1 
{
	border-top: 2px solid #ff0000;
	border-right: 2px solid #054b1a;
	border-left: 2px solid #e91c1c;
	border-bottom: 2px solid #054b1a;
}
.flip2
{
	border-top: 2px solid #ff9100;
	border-right: 2px solid #02df44;
	border-left: 2px solid #ff9100;
	border-bottom: 2px solid #02df44;
}
.flip3 
{
	border-top: 2px solid #00ccff;
	border-right: 2px solid #064218;
	border-left: 2px solid #00ccff;
	border-bottom: 2px solid #064218;
}
.flip4
{
	border-top: 2px solid #033886;
	border-right: 2px solid #054b1a;
	border-left: 2px solid #033886;
	border-bottom: 2px solid #054b1a;
}
.flip5
{
	border-top: 2px solid #cc00ff;
	border-right: 2px solid #8400ff;
	border-left: 2px solid #cc00ff;
	border-bottom: 2px solid #8400ff;
}
.flip6
{
	border-top: 2px solid #ff9100;
	border-right: 2px solid #02ac35;
	border-left: 2px solid #ff9100;
	border-bottom: 2px solid #02ac35;
}
.flip7
{
	border-top: 2px solid #ff9100;
	border-right: 2px solid #ee338a;
	border-left: 2px solid #ff9100;
	border-bottom: 2px solid #ee338a;
}
.flip-box-inner 
{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	border-radius: 10px;
}

.flip-box:hover .flip-box-inner 
{
	transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back 
{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-box-front 
{
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 20px;
	font-size: 25px;
	line-height: 200px;
}

.flip-box-back 
{
	background-color: aliceblue;
	color: rgb(0, 0, 0);
	transform: rotateX(180deg);
	border-radius: 10px;
	padding: 20px;
	opacity: 0.9;
}