body
{
	font-family: Arial;
	margin: 0;
}
*
{
	box-sizing: border-box;
}
							/* The Background Image */
.bg-img
{

	background-image: url(/Images/pexels-pierre-blaché-2389155.jpg);
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	margin: 0;
}
img
{
	vertical-align: middle;
}
h1   
{
	font-family: Lucida Sans;
	font-size: 25px;
	color: #d8ebf0;
	margin: 0px;
}
.text
{
	font-size: 12px;
	color: white;
	padding: 4px 6px;
	width: 100%;
	text-align: center;
	bottom: 8px;
	font-family: Lucida Sans;
	background-color: #00000099;
	border-radius: 2px;
}
.text-page
{
	font-size: 18px;
	color: Black;
	position: relative;
	padding: 4px 6px;
	text-align: center;
	font-family: Lucida Sans;
	width: 620px;
}
.text-bg-img
{
	font-size: 18px;
	color: black;
	position: relative;
	width: 100%;
	text-align: center;
	font-family: Lucida Sans;
}						
.container
{
	position: absolute;
	right: 0;
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: white;
	opacity: 0.5;
}
.container:hover
{
	opacity: 1;
}
.cancelbtn
{
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
} 
.close
{
	position: absolute;
	right: 25px;
	top: 0;
	color: #fcfcfc;
	font-size: 25px;
	font-weight: bold;
}
.close:hover,
.close:focus
{
	color: red;
	cursor: pointer;
}
.splash-text 
{
	position: absolute;
	background-color: rgb(240, 248, 255, 0.8);
	font-size: 25px;
	padding: 15px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: black;
	z-index: 200;
}
.splash
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #070707;
	background-image: url(/Images/pexels-pierre-blaché-2389155.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	z-index: 200;
	color: white;
	animation: fadeIn ease-in-out 2s;
	animation-iteration-count: 1;
	animation-fill-mode: ease forwards;
}
.splash.display-none
{
	position: fixed;
	opacity : 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: -10; 	/* Makes it fall behind everything else */
	color: white;
	text-align: center;
	transition: all 3s;
	
}
@keyframes fadeIn
{
	0%
	{
		background-color: rgba(255,255,255,0.6);
		opacity: 0;
	}
	50% 
	{
		background-color: rgba(255, 255, 255, 0.8);
		opacity: 1;
	}
	100% 
	{
		background-color: rgba(255, 255, 255, 0.5);
		opacity: 1;
	}
}
@keyframes fadeInn
{
	from
	{
		display: none;
	}
	to
	{
		display: block;
	}
}
.error
{
	color: #FF0000;
}
.prefectures
{
	display: block;
	position: absolute;
	width: 90%;
	height: 48%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0);
	filter: blur(0px);
	z-index: 1;
	border: 2px solid black;  
	border-radius: 5px;
	overflow: auto;
}
.prefecture 
{
	display: block;
	position: relative;
    width: 32%;
    height: 30%;
	opacity: 1;
	background-position: center;
	background-size: cover;
	background-color: black;
	text-align: center;
	font-size: 50px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;
	margin: 5px;
	float: left;
}
.prefecture:hover 
{
	border: 1px solid white;
}
.Hokkaido
{
	background-image: url(/Images/Hokkaido.jpg);
}
.Tohoku
{
	background-image: url(/Images/Tohoku.jpg);	
}
.Kanto
{
	background-image: url(/Images/Kanto.jpg);
}
.Chubu
{
	background-image: url(/Images/Chubu.jpg);
}
.Kansai
{
	background-image: url(/Images/Kansai.jpg);
}
.Chugoku
{
	background-image: url(/Images/Chugoku.jpg);
}
.Shikoku
{
	background-image: url(/Images/Shikoku.jpg);
}
.Kyushu-Okinawa
{

	background-image: url(/Images/Kyushu-Okinawa.jpg);
}
.modal-prefecture 
{
	display: none; 							/* Hidden by default */
	position: fixed; 						/* Stay in place */
	z-index: 1; 							/* Sit on top */
	left: 0;
	top: 0;
	width: 100%; 							/* Full width */
	height: 100%; 							/* Full height */
	overflow: auto; 						/* Enable scroll if needed */
	background-color: rgb(0,0,0); 			/* Fallback color */
	background-color: rgba(0,0,0,0.4); 		/* Black w/ opacity */
	padding-top: 60px;
}
.modal-content-prefecture
{
	background-color: #05202a;
	margin: 5% auto 15% auto;	/* 5% from the top, 15% from the bottom and centered */
	border: 2px solid #888;
	border-radius: 15px 0 0 15px;
	width: 600px;
	height: 720px;;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0.9;
	overflow: auto;
}
.img-container-prefecture
{
	width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
	border-radius: 10px;
}

.text-prefecture
{
	font-size: 15px;
	color: white;
	position: relative;
	padding: 4px 30px;
	text-align: center;
	font-family: Calibri;
	transition-duration: 1s;
}
.text-prefecture:hover
{
	background-color:#336cd6
}
/* Navigation Bar */
.overlay 
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.8);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content 
{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a 
{
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus 
{
	color: #f1f1f1;
}

.overlay .closebtn 
{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) 
{
.overlay a {font-size: 20px}
.overlay .closebtn 
	{
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
.navi 
{
	font-size: 22px;
	font-family: Calibri;
	cursor: pointer;
	margin: 4px;
	top: 1px;
    position: relative;
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	color: white;
	transition-duration: 0.2s;
}
.navi:hover 
{
	color: rgb(0, 0, 0);
	background-color: rgba(255,255,255,0.6)
}

.container-main
{
    position: absolute;
    height: 1400px;
    width: 1200px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 8%;
    border-radius: 5px;
	display: none;
	animation: fadeInn ease-in 2s;
}

.container-ST
{
	position: absolute;
	bottom: 25%;
	width: 90%;
    height: 20%;
    border-radius: 5px;
	background-color: rgba(0,0,0,0.4);
    border: 2px solid black; 
	left: 50%;
    transform: translate(-50%, 0);
}
.creator
{
	position: absolute;
	bottom: 3%;
    width: 90%;
    height: 20%;
    border-radius: 5px;
	background-color: rgba(0,0,0,0.4);
    border: 2px solid black; 
	left: 50%;
    transform: translate(-50%, 0);
}
.middle 
{
	transition: 1s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: Calibri;
	font-size: 15px;
	background-color: aliceblue;
}
.special
{
    position: absolute;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
	border-radius: 5px;
	border: 1px solid black;
}
.special:hover .middle
{
	opacity: 1;
	border: 1px solid white;
}
.w3schools
{
    background-image: url(/Images/w3schools.jpg);
	left: 20px;
	top: 80px;
}
.ricky
{
    background-image: url(/Images/ricky.jpg);
	left: 460px;
	top: 80px;
}
.keenan
{
    background-image: url(/Images/Keenan.png);
	left: 240px;
	top: 80px;
}
.wallpaper-abyss
{
    background-image: url(/Images/wallpaper_abyss.jpg);
	left: 680px;
	top: 80px;
}
.xampp
{
	background-image: url(/Images/XAMPP.jpg);
	left: 900px;
	top: 80px;
}
.watashi
{
	background-image: url(/Images/creator.jpg);
	left: 60px;
	top: 60px;
}

.styling-line
{
	display: block;
	background-color:rgb(230, 230, 230);
	border-radius: 5px;
	height: 2px;
	width: 400px;
	left: 50px;
	position: absolute;
}
/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #5c5c5e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: whitesmoke;
}

hr
{
	width: 50%;
}